*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background: rgba(0,0,0,0.5);
color: #fff;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: sans-serif;
}

.container{
    min-height: 500px;
    max-height: 100%;
    width: 400px;
    background-color: #888;
    text-align: center;
padding: 2rem;
box-shadow: 0 0 4px rgba(0,0,0,0.1);
transition: all 0.2s linear;
}

.container:hover{
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.title {
    margin-bottom: 2rem;
    border-bottom: 2px solid #555;
    border-width: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.345rem;
}

.form-container{
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 8px 16px;
    width: 100%;
}

input{
border: 0;
border-radius: 5px;
padding: 5px 10px;
display: block;
width: 100%;
margin: 0.234rem auto;
margin-bottom: 0.5rem;
cursor: pointer;
}

input::placeholder{
    color: rgba(0,0,0,0.5);
    text-transform: capitalize;
}

input:focus{
    outline: none;
}

.error-msg{
    color: rgb(119, 4, 4);
    letter-spacing: 0.134rem;
}

.btn{
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
     margin-top: 15px;
     margin-bottom: 9px;
     transition: box-shadow 0.3s linear;
}

.btn:hover{
    box-shadow: 0 0 5px rgba(0,0,0,1);
}


.todos-item{
    color: #000;
    text-transform: capitalize;
    margin-top: 2rem;
    padding: 2rem 3rem;
    background-color: #999;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1.2px;
    position: relative;
    transition: all 0.2s linear;
}

.todos-item:hover{
    margin-left: 1rem;
}

.edit, .delete{
    font-size:0.9rem;
    cursor: pointer;
    transition: transform 0.2s linear;
}

.edit:hover, .delete:hover{
    transform: scale(1.03);
}

.edit{
    color: green;
}

.delete{
    color: rgb(119, 4, 4);
}

.date{
    font-size: 10px;
    font-family: inherit;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 8px;
    padding-top: 10px;
    border-bottom: 1px solid #333;
    border-radius: 5px;

}